@font-face {
    font-family: MainFont;
    src: url(../fonts/Homework.otf);
  }

body {
    background-color: rgb(238, 228, 211);
}
input .form-control {
    background-color: rgb(238, 228, 211);
    color: rgb(164, 206, 209);
}

footer {
    background-color: rgb(164, 206, 209);
}

footer img {
    width: 100px;
    height: 100px;
}

.navbar {
    background-color: rgb(164, 206, 209);
}

.dropdown-menu {
    background-color: rgb(88, 146, 150);
}
.footer-copyright {
    background-color: rgb(88, 146, 150);
}

.dropdown-item, .h4, .h5, .h7, footer .h1 {
    color: white;
}


.logo {
    width: 80px;
    height: 58px;
}

header .img-fluid {
    max-width: 390px;
    max-height: 281px;
    width: 100%;
    height: auto;
}

footer .img-fluid {
    width: 70px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
}


.item-element {
    width: 100%;
    height: 100%;
    max-width: 500px;
}

.item-element:hover {
    opacity: 0.7;
}


li img {
    width: 50px;
}

iframe {
    width: 250px;
    height: 515px;
}

header .h1 {
    font-family: MainFont;
    font-size: 66px;
}

.h1 {
    font-weight: 320;
    font-size: 35px;
}

figure .h1 {
    font-weight: 400;
    font-size: 20px;
}

.item-title {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    color: white;
    background-color: rgb(164, 206, 209,0.95);
}

.item-gallery {
    position: relative;
    display: inline-block;
}

a:hover {
    text-decoration: none;
}

.table {
    background-color: rgb(164, 206, 209,0.95);
    color: white;
    text-align: center;
}

table, table tr, table th, table td {
    border: 2px solid white;
}

th:hover, td:hover {
    background-color: rgb(88, 146, 150);
}

/* .row {
    border: 1px solid red;
}

.col-md-6 {
    border: 1px solid red;
}

.figure {
    border: 4px solid red;
} */

.h5:hover {
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -o-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    color:  rgb(238, 228, 211);
}

.item-picture {
    width: 400px;
    height: 300px;
    object-fit: cover;
}

.item-picture:hover {
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -o-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    opacity: 0.7;
}
