@font-face {
    font-family: MainFont;
    src: url(../fonts/Homework.otf);
  }

body {
    background-color: rgb(238, 228, 211);
}
input .form-control {
    background-color: rgb(238, 228, 211);
    color: rgb(164, 206, 209);
}

footer {
    background-color: rgb(164, 206, 209);
}

footer img {
    width: 100px;
    height: 100px;
}

.navbar {
    background-color: rgb(164, 206, 209);
}

.dropdown-menu {
    background-color: rgb(88, 146, 150);
}
.footer-copyright {
    background-color: rgb(88, 146, 150);
}

.dropdown-item, .h4, .h5, .h7, footer .h1 {
    color: white;
}


.logo {
    width: 80px;
    height: 58px;
}

header .img-fluid {
    max-width: 390px;
    max-height: 281px;
    width: 100%;
    height: auto;
}

footer .img-fluid {
    width: 70px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
}


figure .img-fluid {
    width: 100%;
    height: 100%;
    max-width: 600px;
}

li img {
    width: 50px;
}

iframe {
    width: 250px;
    height: 515px;
}

header .h1 {
    font-family: MainFont;
    font-size: 66px;
}

.h1 {
    font-weight: 320;
    font-size: 35px;
}