@font-face {
    font-family: MainFont;
    src: url(../fonts/Homework.otf);
  }

body {
    background-color: rgb(238, 228, 211);
}

footer {
    background-color: rgb(164, 206, 209);
}

footer img {
    width: 100px;
    height: 100px;
}

.navbar {
    background-color: rgb(164, 206, 209);
}

.dropdown-menu {
    background-color: rgb(88, 146, 150);
}

.logo {
    width: 80px;
    height: 58px;
}

.img-fluid {
    width: 390px;
    height: 281px;
    margin-left: auto;
    margin-right: auto;
}

header img .img-fluid {
    width: 390px;
    height: 281px;
    margin-left: auto;
    margin-right: auto;
}

footer .img-fluid {
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

li img {
    width: 50px;
}

header, h1 {
    font-family: MainFont;
    text-align: center;
    font-weight: 500;
    font-size: 80px;
    padding-top: 32px;
    margin-left: auto;
    margin-right: auto;
}

