@font-face {
    font-family: MainFont;
    src: url(../fonts/Homework.otf);
  }

body {
    background-color: rgb(238, 228, 211);
}

.navbar {
    background-color: rgb(164, 206, 209);
    padding: 10px;
}

.dropdown-menu {
    background-color: rgb(88, 146, 150);
}

.logo {
    width: 100px;
    height: 72px;
    padding: 10px;
}

header, img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    width: 390px;
    height: 281px;
    padding: 20px;
}
header, h1 {
    font-family: MainFont;
    text-align: center;
    font-weight: 500;
    font-size: 80px;
    padding-top: 32px;
    margin-left: auto;
    margin-right: auto;
}